version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    command: -c 'max_connections=200'
    ports:
      - 5435:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      PGUSER: postgres
      POSTGRES_DB: masp-indexer
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "masp-indexer"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 80s